:root {
  --margin: 0.5rem;
}

body {
  background: #333;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul.container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
}

ul.container > li {
  position: relative;
  transform: scale(1);
  flex: 1 1 15rem;
  min-height: calc(30vmax);
  max-height: calc(50vmax - var(--margin));
  margin: var(--margin);
  background: #666;
  transition-property: transform, box-shadow; 
  transition-duration: 0.2s, 0.2s;
  animation-timing-function: linear;
  box-shadow: 0 0 5px 5px #000000aa;
  z-index: 0;
}

ul.container > li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px #000000aa;
  z-index: 1;
}

ul.container > li > span {
  position: relative;
  left: calc(50% - 60px);
  top: calc(50% - 18px);
  display: inline-block;
  padding: 8px 12px;
  background-color: #ffffffcc;
  pointer-events: none;
  font-family: Geneva, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

ul.container > li > a {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

ul.container > li > a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.fade-in, .fade-out {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.fade-in { 
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

.fade-out { 
  animation-name: fadeOut; 
  animation-timing-function: ease-out;
  animation-duration: 2.5s;
}

@keyframes fadeOut {
  to { opacity: 0; }
}

@keyframes fadeIn {
  to { opacity: 1; }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.load {
  margin: 20px 0;
  padding: 5px 10px;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: hsl(228, 5%, 55%);
  transition: background-color 0.2s ease;
}

button.load:hover {
  background-color: hsl(36, 100%, 55%);
}